@charset "utf-8";
/* CSS Document */

div.mario{
	position: relative;
	background:lightblue url("f02.png") no-repeat left bottom;
	height: 300px;
  	width: 100%;
	border: solid black 1px;
}
div.nubes{
	position: relative;
	background: url("f03.png") repeat-x;
	height: 73px;
  	width: 100%;
}
div.suelo{
	position: absolute;
	bottom: 0;
	background: url("f01.png") repeat-x left bottom;
	height: 14px;
  	width: 100%;
}

body{
	background-color: #79C7B2;
}