@charset "utf-8";
/* CSS Document */
div{
	background-color: lightgreen;
	text-align: justify;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
}
span.autor{
	position: absolute;
	right: 40px;
	
}