<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">  	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
	<servlet>
		<servlet-name>cabecera</servlet-name>
		<servlet-class>com.entrada.cabecera</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cabecera</servlet-name>
		<url-pattern>/cabecera</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>salida</servlet-name>
		<servlet-class>com.entrada.salida</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>salida</servlet-name>
		<url-pattern>/salida</url-pattern>
	</servlet-mapping>
	
	
	
</web-app>
